.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.modal {
  width: 60%;
  background-color: #fff;
  border-radius: 0.7rem;
  /* height: ; */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  z-index: 999;
}

.overlay-class {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #00000030 !important;
  z-index: 9999;
}

@media all and (max-width: 1000px) {
  .modal {
    width: 90%;
  }
}
