.css-1s2u09g-control{
    padding-top: 0.35rem/* 12px */;
    padding-bottom: 0.35rem/* 12px */;
    border: 1px solid #808e9b !important;
}

.css-1pahdxg-control{
    padding-top: 0.35rem/* 12px */;
    padding-bottom: 0.35rem;
    border: 1px solid #808e9b !important;
    

}

.css-qc6sy-singleValue{
    font-family: "yekanBold" !important;
    color: #1e272e !important;
    font-size: 0.80rem !important;
}

